@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.colour {
    color: #FF5400;
}

/* Header Section */
.header {
    margin: 0 135px;
}

nav {
    border: 1px solid blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
    margin-right: 15px;
    font-size: 30px;
    font-weight: 50px;
    align-items: center;
}

.nav-logo img {
    height: 56px;
    width: 48px;
}


.nav-menu a {
    border: 1px solid blueviolet;
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-left: 35px;
    margin-right: 10px;
}

/* Explore section */

.explore-section {
    margin: 20px 135px;
    height: 500px;
    width: 1200px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explore-section-head {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 0;
}

.explore-section-content {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 0;
}

.explore-section-input {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}